Repository allure-framework/allure2, pull requests merged in 2021-12, with the labels that each got.

#1500 Allure Xray Plugin smarter status updates for Xray Test Case statuses.
  plugins/xray-plugin/src/main/java/io/qameta/allure/xray/XrayTestRunExportPlugin.java
  plugins/xray-plugin/src/test/java/io/qameta/allure/xray/XrayTestRunExportPluginTest.java
Labels: type:bug, theme:plugins

#1513 fix #1421 set correct attributes to files in bin
  allure-commandline/build.gradle.kts
Labels: type:bug, theme:commandline, theme:build

#1509 Improve xray plugin (fix #1508, fix the issue when different executions contain the same tests)
  plugins/xray-plugin/src/main/java/io/qameta/allure/xray/XrayTestRunExportPlugin.java
  plugins/xray-plugin/src/test/java/io/qameta/allure/xray/XrayTestRunExportPluginTest.java
Labels: type:bug, theme:plugins

#1523 Migrate log4j to logback
  allure-commandline/build.gradle.kts
  allure-commandline/src/dist/lib/config/log4j.properties
  allure-commandline/src/dist/lib/config/logback.xml
  allure-commandline/src/main/java/io/qameta/allure/CommandLine.java
  allure-commandline/src/main/java/io/qameta/allure/Commands.java
  build.gradle.kts
Labels: theme:commandline, type:dependencies, theme:build
