Repository allure-framework/allure2, pull requests merged in 2021-11, with the labels that each got.

#1473 Fix links without names
  allure-generator/src/main/javascript/plugins/testresult-links/LinksView.hbs
  allure-generator/test-data/empty-link/link-result.json
Labels: type:bug, theme:ui

#1474 Render links in step names
  allure-generator/src/main/javascript/components/testresult-execution/steps-list.hbs
  allure-generator/src/main/javascript/components/testresult-execution/styles.scss
  allure-generator/src/main/javascript/helpers/text-with-links.js
  allure-generator/test-data/empty-link/link-result.json
Labels: type:improvement, theme:ui

#1482 Update report hero image
  .github/preview_report.png
Labels: type:improvement, theme:workflow

#1488 Update README.md
  README.md
Labels: type:internal

#1496 using filter on empty sectors fixes #527
  allure-generator/src/main/javascript/components/graph-pie-chart/PieChartView.js
Labels: type:bug, theme:ui

#1489 Add CircleCI logo for executor info
  allure-generator/src/main/javascript/blocks/executor-icon/circleci.svg
  allure-generator/src/main/javascript/blocks/executor-icon/styles.scss
Labels: type:improvement, theme:ui
