Repository allure-framework/allure2, pull requests merged in 2021-05, with the labels that each got.

#1252 Migrate from Bintray
  .github/workflows/build.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yaml
  allure-commandline/build.gradle.kts
  build.gradle.kts
  gradle.properties
  gradle/bintray.gradle
  gradle/maven-publish.gradle
Labels: theme:build, theme:commandline, theme:workflow, type:internal

#1255 Fix release workflow
  build.gradle.kts
Labels: theme:build, type:bug

#1256 Add gpg signin
  build.gradle.kts
Labels: theme:build, type:bug

#1258 Fix maven publising
  build.gradle.kts
Labels: theme:build, type:bug

#1275 Fix tar.gz and zip deployment
  allure-commandline/build.gradle.kts
Labels: theme:build, theme:commandline, type:bug

#1276 Fix report
  allure-generator/package-lock.json
  allure-generator/src/main/javascript/utils/highlight.js
  allure-generator/src/main/resources/tpl/index.html.ftl
Labels: theme:ui, type:bug

#1272 Refine syntax in build.gradle.kts scripts
  .github/workflows/gradle-wrapper-validation.yml
  allure-commandline/build.gradle.kts
  allure-generator/build.gradle.kts
  allure-plugin-api/build.gradle.kts
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  plugins/behaviors-plugin/build.gradle.kts
  plugins/jira-plugin/build.gradle.kts
  plugins/junit-xml-plugin/build.gradle.kts
  plugins/packages-plugin/build.gradle.kts
  plugins/trx-plugin/build.gradle.kts
  plugins/xctest-plugin/build.gradle.kts
  plugins/xray-plugin/build.gradle.kts
  plugins/xunit-xml-plugin/build.gradle.kts
  settings.gradle.kts
Labels: theme:build, theme:commandline, theme:plugin api, theme:plugins, theme:workflow, type:internal
