Repository allure-framework/allure2, pull requests merged in 2021-09, with the labels that each got.

#1404 Add support for parameters mode
  allure-generator/src/main/java/io/qameta/allure/allure1/Allure1Plugin.java
  allure-generator/src/main/java/io/qameta/allure/allure2/Allure2Plugin.java
  allure-generator/src/test/java/io/qameta/allure/allure2/Allure2PluginTest.java
  allure-generator/src/test/resources/allure2/parameters.json
  allure-generator/src/test/resources/allure2/step-parameters.json
  allure-plugin-api/src/main/java/io/qameta/allure/util/ConvertUtils.java
  build.gradle.kts
Labels: type:new feature, theme:plugin api, theme:generator, theme:build

#1406 Bump jetty-server from 9.4.20.v20190813 to 9.4.43.v20210629
  .github/workflows/build.yaml
  allure-commandline/src/main/java/io/qameta/allure/Commands.java
  build.gradle.kts
Labels: theme:commandline, type:dependencies, theme:build, theme:workflow

#1407 Bump gradle from 6.8.3 to 7.2
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: type:dependencies, theme:build

#1413 Fix vulnerabilities
  build.gradle.kts
  gradle.properties
Labels: type:dependencies, theme:build

#1082 TRX-Plugin parses InnerTestResults
  plugins/trx-plugin/src/main/java/io/qameta/allure/trx/TrxPlugin.java
  plugins/trx-plugin/src/test/java/io/qameta/allure/trx/TrxPluginTest.java
  plugins/trx-plugin/src/test/resources/trxdata/testresultsWithChildren.trx
Labels: type:new feature
