Repository allure-framework/allure2, pull requests merged in 2022-08, with the labels that each got.

#1710 Add picture for readme
  .github/how_allure_works.jpg
  README.md
Labels: type:improvement, theme:workflow

#1637 Introduced search by tags in html report
  allure-generator/src/main/javascript/components/tree/TreeView.js
  allure-generator/src/main/javascript/data/tree/filter.js
  allure-plugin-api/src/main/java/io/qameta/allure/tree/TestResultTreeLeaf.java
Labels: type:new feature, theme:ui, theme:plugin api

#1690 Catch AWTError if X11 is used and DISPLAY is unavailable
  allure-commandline/src/main/java/io/qameta/allure/Commands.java
Labels: type:bug, theme:commandline
