Repository allure-framework/allure2, pull requests merged in 2022-11, with the labels that each got.

#1800 Bump node to 16
  allure-generator/build.gradle.kts
  allure-generator/package-lock.json
  allure-generator/package.json
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: type:improvement, theme:build

#1806 Fix deprecations and cve
  allure-generator/src/main/java/io/qameta/allure/allure2/Allure2Plugin.java
  allure-generator/src/main/javascript/blocks/tabs/styles.scss
  build.gradle.kts
Labels: type:improvement, theme:ui, theme:generator, theme:build

#1807 Fix tags search
  allure-generator/src/main/javascript/data/tree/filter.js
Labels: type:bug, theme:ui

#1809 Fix test missing a name crashing the suites page
  allure-generator/src/main/javascript/data/tree/comparator.js
Labels: type:bug, theme:ui

#1814 Update Allure TestOps pic in Readme
  .github/allure-testops-cloud-now.jpg
Labels: type:documentation, theme:workflow

#1822 fix empty group names
  allure-generator/src/main/javascript/components/tree/styles.scss
  allure-generator/src/main/javascript/components/tree/tree-group.hbs
  allure-generator/src/main/javascript/translations/br.json
  allure-generator/src/main/javascript/translations/de.json
  allure-generator/src/main/javascript/translations/en.json
  allure-generator/src/main/javascript/translations/es.json
  allure-generator/src/main/javascript/translations/fr.json
  allure-generator/src/main/javascript/translations/he.json
  allure-generator/src/main/javascript/translations/ja.json
  allure-generator/src/main/javascript/translations/kr.json
  allure-generator/src/main/javascript/translations/nl.json
  allure-generator/src/main/javascript/translations/pl.json
  allure-generator/src/main/javascript/translations/ru.json
  allure-generator/src/main/javascript/translations/zh.json
Labels: type:bug, theme:ui

#1830 Fix XRay plugin maximum results per Jira request exceeded error
  allure-jira-commons/src/main/java/io/qameta/allure/jira/JiraService.java
  plugins/xray-plugin/src/main/java/io/qameta/allure/xray/XrayTestRunExportPlugin.java
  plugins/xray-plugin/src/test/java/io/qameta/allure/xray/XrayTestRunExportPluginTest.java
Labels: type:bug, theme:plugins
