Repository allure-framework/allure2, pull requests merged in 2023-12, with the labels that each got.

#2219 Exclude skipped and unknown tests from success rate calculation
  allure-generator/src/main/javascript/components/graph-pie-chart/PieChartView.js
  build.gradle.kts
Labels: type:improvement, theme:ui, theme:build

#2199 CVE-2023-36478: Update jetty-server to 9.4.53.v20231009
  build.gradle.kts
Labels: type:dependencies, theme:build

#2220 Fix plugins not working in single file mode
  allure-generator/src/main/java/io/qameta/allure/core/ReportWebGenerator.java
Labels: type:bug, theme:generator
