Repository allure-framework/allure2, pull requests merged in 2024-04, with the labels that each got.

#2459 Refactor Category and Severity JS views
  allure-generator/src/main/javascript/plugins/testresult-category/CategoryView.js
  allure-generator/src/main/javascript/plugins/testresult-severity/SeverityView.hbs
  allure-generator/src/main/javascript/plugins/testresult-severity/SeverityView.js
Labels: type:improvement, theme:ui

#2476 Add possibility to specify report language via cli option
  allure-commandline/src/main/java/io/qameta/allure/CommandLine.java
  allure-commandline/src/main/java/io/qameta/allure/Commands.java
  allure-commandline/src/main/java/io/qameta/allure/command/GenerateCommand.java
  allure-commandline/src/main/java/io/qameta/allure/command/ServeCommand.java
  allure-commandline/src/main/java/io/qameta/allure/option/ReportLanguageOptions.java
  allure-commandline/src/main/java/io/qameta/allure/validator/LanguageValidator.java
  allure-commandline/src/test/java/io/qameta/allure/CommandLineTest.java
  allure-commandline/src/test/java/io/qameta/allure/CommandsTest.java
  allure-generator/build.gradle.kts
  allure-generator/src/main/java/io/qameta/allure/ConfigurationBuilder.java
  allure-generator/src/main/java/io/qameta/allure/DefaultConfiguration.java
  allure-generator/src/main/java/io/qameta/allure/DummyReportGenerator.java
  allure-generator/src/main/java/io/qameta/allure/core/ReportWebGenerator.java
  allure-generator/src/main/java/io/qameta/allure/core/ReportWebPlugin.java
  allure-generator/src/main/java/io/qameta/allure/ga/GaPlugin.java
  allure-generator/src/main/javascript/utils/settingsFactory.js
  allure-generator/src/main/javascript/utils/translation.js
  allure-generator/src/main/resources/tpl/index.html.ftl
  allure-generator/src/test/java/io/qameta/allure/EmptyResultsTest.java
  allure-generator/src/test/java/io/qameta/allure/ReportGeneratorTest.java
  allure-generator/src/test/java/io/qameta/allure/allure1/Allure1PluginTest.java
  allure-generator/src/test/java/io/qameta/allure/allure2/Allure2PluginTest.java
  allure-generator/src/test/java/io/qameta/allure/category/CategoriesPluginTest.java
  allure-generator/src/test/java/io/qameta/allure/core/ReportWebGeneratorTest.java
  allure-generator/src/test/java/io/qameta/allure/environment/Allure1EnvironmentPluginTest.java
  allure-generator/src/test/java/io/qameta/allure/history/HistoryTrendPluginTest.java
  allure-generator/src/test/java/io/qameta/allure/markdown/MarkdownAggregatorTest.java
  allure-generator/src/test/java/io/qameta/allure/retry/RetryPluginTest.java
  allure-generator/src/test/java/io/qameta/allure/suites/SuitesPluginTest.java
  allure-generator/src/test/java/io/qameta/allure/summary/SummaryPluginTest.java
  allure-generator/src/test/java/io/qameta/allure/tags/TagsPluginTest.java
  allure-plugin-api/src/main/java/io/qameta/allure/context/ReportInfoContext.java
  allure-plugin-api/src/main/java/io/qameta/allure/core/Configuration.java
  build.gradle.kts
  gradle/quality-configs/spotbugs/exclude.xml
  plugins/junit-xml-plugin/src/test/java/io/qameta/allure/junitxml/JunitXmlPluginTest.java
  plugins/trx-plugin/src/main/java/io/qameta/allure/trx/TrxPlugin.java
  plugins/trx-plugin/src/test/java/io/qameta/allure/trx/TrxPluginTest.java
  plugins/trx-plugin/src/test/resources/trxdata/sample.trx
  plugins/xunit-xml-plugin/src/test/java/io/qameta/allure/xunitxml/XunitXmlPluginTest.java
Labels: type:new feature, theme:ui, theme:plugin api, theme:commandline, theme:generator, theme:plugins, theme:build

#2478 Remove node-sass
  allure-generator/build.gradle.kts
  allure-generator/package-lock.json
  allure-generator/package.json
Labels: type:dependencies, theme:build

#2480 Bump frontend dependencies
  allure-generator/.eslintrc.js
  allure-generator/build.gradle.kts
  allure-generator/package-lock.json
  allure-generator/package.json
  allure-generator/src/main/java/io/qameta/allure/DummyReportGenerator.java
  allure-generator/src/main/javascript/app.js
  allure-generator/src/main/javascript/components/graph-base/BaseChartView.js
  allure-generator/src/main/javascript/components/graph-duration-chart/DurationChartView.js
  allure-generator/src/main/javascript/components/graph-pie-chart/PieChartView.js
  allure-generator/src/main/javascript/components/graph-severity-chart/SeverityChartView.js
  allure-generator/src/main/javascript/components/graph-trend-chart/TrendChartView.js
  allure-generator/src/main/javascript/components/language-select/LanguageSelectView.js
  allure-generator/src/main/javascript/components/node-search/styles.scss
  allure-generator/src/main/javascript/components/side-by-side/SideBySideView.js
  allure-generator/src/main/javascript/components/testresult-execution/TestResultExecutionView.js
  allure-generator/src/main/javascript/components/testresult/TestResultView.js
  allure-generator/src/main/javascript/components/tooltip/TooltipView.js
  allure-generator/src/main/javascript/components/tree/TreeView.js
  allure-generator/src/main/javascript/data/loader.js
  allure-generator/src/main/javascript/decorators/index.js
  allure-generator/src/main/javascript/helpers/allure-icon.js
  allure-generator/src/main/javascript/helpers/angle.js
  allure-generator/src/main/javascript/helpers/arrow.js
  allure-generator/src/main/javascript/helpers/b.js
  allure-generator/src/main/javascript/helpers/date.js
  allure-generator/src/main/javascript/helpers/default.js
  allure-generator/src/main/javascript/helpers/duration.js
  allure-generator/src/main/javascript/helpers/eq.js
  allure-generator/src/main/javascript/helpers/fileicon.js
  allure-generator/src/main/javascript/helpers/filesize.js
  allure-generator/src/main/javascript/helpers/gt.js
  allure-generator/src/main/javascript/helpers/inc.js
  allure-generator/src/main/javascript/helpers/linky.js
  allure-generator/src/main/javascript/helpers/or.js
  allure-generator/src/main/javascript/helpers/sort-class.js
  allure-generator/src/main/javascript/helpers/statistic-bar.js
  allure-generator/src/main/javascript/helpers/text-with-links.js
  allure-generator/src/main/javascript/helpers/time.js
  allure-generator/src/main/javascript/helpers/timeago.js
  allure-generator/src/main/javascript/layouts/application/AppLayout.js
  allure-generator/src/main/javascript/layouts/tree/TreeLayout.js
  allure-generator/src/main/javascript/plugins/tab-graph/GraphCollection.js
  allure-generator/src/main/javascript/plugins/tab-timeline/TimelineView.js
  allure-generator/src/main/javascript/utils/clipboard.js
  allure-generator/src/main/javascript/utils/translation.js
  allure-generator/webpack/webpack.common.js
  allure-generator/webpack/webpack.dev.js
  allure-generator/webpack/webpack.prod.js
Labels: theme:ui, theme:generator, type:dependencies, theme:build

#2445 Add Swedish translations
  allure-commandline/src/main/java/io/qameta/allure/validator/LanguageValidator.java
  allure-generator/src/main/javascript/translations/sv.json
  allure-generator/src/main/javascript/utils/translation.js
  plugins/behaviors-plugin/src/dist/static/index.js
  plugins/packages-plugin/src/dist/static/index.js
Labels: type:new feature, theme:ui, theme:commandline, theme:plugins

#2521 Fix language select menu
  allure-generator/src/main/javascript/components/language-select/LanguageSelectView.js
  allure-generator/src/main/javascript/components/tooltip/TooltipView.js
Labels: type:bug, theme:ui
