Repository allure-framework/allure2, pull requests merged in 2024-01, with the labels that each got.

#2281 Fix issue links
  allure-generator/src/main/javascript/plugins/testresult-links/LinksView.hbs
Labels: type:bug, theme:ui

#2284 Fix NPE in case of missed executor type
  allure-generator/src/main/java/io/qameta/allure/ga/GaPlugin.java
  allure-generator/src/test/java/io/qameta/allure/ga/GaPluginTest.java
  gradle/quality-configs/pmd/pmd.xml
Labels: type:bug, theme:generator, theme:build

#2288 Bump versions
  .github/workflows/build.yaml
Labels: type:dependencies, theme:workflow

#2289 Force latest okhttp
  build.gradle.kts
Labels: type:dependencies, theme:build

#2290 Fix deb java requirement
  allure-commandline/build.gradle.kts
Labels: type:bug, theme:commandline, theme:build

#2229 Add possibility to specify the report name
  allure-commandline/src/main/java/io/qameta/allure/CommandLine.java
  allure-commandline/src/main/java/io/qameta/allure/Commands.java
  allure-commandline/src/main/java/io/qameta/allure/command/GenerateCommand.java
  allure-commandline/src/main/java/io/qameta/allure/command/ServeCommand.java
  allure-commandline/src/main/java/io/qameta/allure/option/ReportNameOptions.java
  allure-commandline/src/test/java/io/qameta/allure/CommandLineTest.java
  allure-commandline/src/test/java/io/qameta/allure/CommandsTest.java
  allure-generator/src/main/java/io/qameta/allure/ConfigurationBuilder.java
  allure-generator/src/main/java/io/qameta/allure/DefaultConfiguration.java
  allure-generator/src/main/java/io/qameta/allure/category/CategoriesTrendPlugin.java
  allure-generator/src/main/java/io/qameta/allure/duration/DurationTrendPlugin.java
  allure-generator/src/main/java/io/qameta/allure/executor/ExecutorPlugin.java
  allure-generator/src/main/java/io/qameta/allure/ga/GaPlugin.java
  allure-generator/src/main/java/io/qameta/allure/history/HistoryTrendPlugin.java
  allure-generator/src/main/java/io/qameta/allure/retry/RetryTrendPlugin.java
  allure-generator/src/main/java/io/qameta/allure/summary/SummaryPlugin.java
  allure-generator/src/main/java/io/qameta/allure/trend/AbstractTrendPlugin.java
  allure-generator/src/test/java/io/qameta/allure/summary/SummaryPluginTest.java
  allure-plugin-api/src/main/java/io/qameta/allure/Constants.java
  allure-plugin-api/src/main/java/io/qameta/allure/core/Configuration.java
Labels: type:new feature, theme:plugin api, theme:commandline, theme:generator

#2304 Gradle 8.5 & code quality fixes
  allure-generator/build.gradle.kts
  allure-generator/src/main/java/io/qameta/allure/allure2/Allure2Plugin.java
  allure-generator/src/main/java/io/qameta/allure/category/CategoriesPlugin.java
  allure-generator/src/main/java/io/qameta/allure/core/ReportWebGenerator.java
  allure-generator/src/main/java/io/qameta/allure/severity/SeverityPlugin.java
  allure-plugin-api/src/main/java/io/qameta/allure/core/Configuration.java
  allure-plugin-api/src/main/java/io/qameta/allure/core/LaunchResults.java
  allure-plugin-api/src/main/java/io/qameta/allure/entity/Summarizable.java
  allure-plugin-api/src/main/java/io/qameta/allure/entity/WithGroupTime.java
  allure-plugin-api/src/main/java/io/qameta/allure/entity/WithLabels.java
  allure-plugin-api/src/main/java/io/qameta/allure/entity/WithStatistic.java
  build.gradle.kts
  gradle/config/checkstyle/checkstyle.xml
  gradle/quality-configs/pmd/pmd.xml
  gradle/quality-configs/spotbugs/exclude.xml
  gradle/wrapper/gradle-wrapper.properties
  plugins/junit-xml-plugin/src/main/java/io/qameta/allure/junitxml/JunitXmlPlugin.java
  plugins/xray-plugin/src/main/java/io/qameta/allure/xray/XrayTestRunExportPlugin.java
  settings.gradle.kts
Labels: theme:plugin api, theme:generator, type:dependencies, theme:plugins, theme:build

#2318 fix the description of "plugin" command
  allure-commandline/src/main/java/io/qameta/allure/command/PluginCommand.java
Labels: type:bug, theme:commandline

#2319 fix missing favicon
  allure-generator/src/main/resources/tpl/index.html.ftl
Labels: type:bug

#2326 Parse labels from tags using naming convention
  allure-generator/src/main/java/io/qameta/allure/ConfigurationBuilder.java
  allure-generator/src/main/java/io/qameta/allure/DummyReportGenerator.java
  allure-generator/src/main/java/io/qameta/allure/tags/TagsPlugin.java
  allure-generator/src/test/java/io/qameta/allure/tags/TagsPluginTest.java
Labels: type:new feature, theme:generator
