Repository allure-framework/allure2, pull requests merged in 2024-05, with the labels that each got.

#2547 Bump opencsv from 4.6 to 5.9
  allure-plugin-api/src/main/java/io/qameta/allure/CommonCsvExportAggregator.java
  allure-plugin-api/src/main/java/io/qameta/allure/CommonCsvExportAggregator2.java
  build.gradle.kts
Labels: theme:plugin api, type:dependencies, theme:build

#2548 Fix results duplication in case of duplicate labels
  allure-plugin-api/src/main/java/io/qameta/allure/tree/TreeUtils.java
  allure-plugin-api/src/test/java/io/qameta/allure/tree/TestResultTreeTest.java
Labels: type:bug, theme:plugin api

#2554 Spelling fix in Interslavic translation
  allure-generator/src/main/javascript/translations/isv.json
Labels: type:improvement, theme:ui

#2556 Fix RPM JRE dependency
  allure-commandline/build.gradle.kts
Labels: type:bug, theme:commandline, theme:build
