Repository allure-framework/allure2, pull requests merged in 2025-06, with the labels that each got.

#3026 Fix npm vulnerabilities
  allure-generator/package-lock.json
  allure-generator/package.json
Labels: theme:generator, type:dependencies

#3029 fix xee
  allure-plugin-api/src/main/java/io/qameta/allure/parser/ClasspathEntityResolver.java
  gradle/quality-configs/pmd/pmd.xml
  plugins/junit-xml-plugin/src/main/java/io/qameta/allure/junitxml/JunitXmlPlugin.java
  plugins/junit-xml-plugin/src/test/java/io/qameta/allure/junitxml/JunitXmlPluginTest.java
  plugins/trx-plugin/src/main/java/io/qameta/allure/trx/TrxPlugin.java
  plugins/trx-plugin/src/test/java/io/qameta/allure/trx/TrxPluginTest.java
  plugins/xunit-xml-plugin/src/main/java/io/qameta/allure/xunitxml/XunitXmlPlugin.java
  plugins/xunit-xml-plugin/src/test/java/io/qameta/allure/xunitxml/XunitXmlPluginTest.java
Labels: theme:plugin api, security, theme:plugins, theme:build, type:security

#3030 Bump autoprefixer and browserslist
  allure-generator/package-lock.json
  allure-generator/package.json
Labels: type:dependencies
